<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <nav class="container">
              <div>
                <ul class="ul-container">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/works">Work</a></li>
                  <li>Image Gallery</li>
                </ul>
             </div>
             </nav>
            </div>
    </section>
    <section class="about-section">
    <div>
        <div class="aboutflex">
        <h1>Sir David Attenborough</h1>
        <p>            Sir David Frederick Attenborough was born on May 8, 1926. He is an English broadcaster and naturalist. <br>
            <br>
            He is best known for writing and presenting the nine natural history documentary series that form the Life collection. He is also a former senior manager at the BBC, having served as controller of BBC Two and director of programming for BBC Television in the 1960s and 1970s. <br>
            <br>
            Attenborough is widely considered a national treasure in Britain. He has won numerous awards during his career, including three BAFTAs, two Golden Globes, a Peabody Award, and an Emmy Award. </p>
            <p class="btn"><a href="./about.html">Learn more.</a></p>
        </div>
    </div>
    </section>
</body>
</html>