<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>David Attenborough</title>
</head>
<body>
 <section>
    <div>
    <nav class="container">
      <div>
        <ul class="ul-container">
          <li><a href="./home.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./works.html">Work</a></li>
          <li>Image Gallery</li>
        </ul>
     </div>
     </nav>
    </div>
        <div class="header">
            <div class="innerheaderflex">
            <h1>Sir David Attenborough</h1>
            <p>David Attenborough is a British broadcaster and naturalist. He is best known for his work on the BBC television series Life on Earth. He has also written and presented several other documentaries, including The Blue Planet and The Living Planet. </p>
                <p class="btn"><a href="./about.html">Learn more.</a></p>
            </div>
            <div>
                <img src="assets/DavidAttemborough.png" alt="portrait of david attemborough">
            </div>
        </div>
    </section>
    
</body>
</html>

