<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Work</title>
</head>
<body>
    <div class="header">
        <div class="innerheaderflex">
        <h3>Sir David Attenborough</h3>
        <p>David Attenborough is a British broadcaster and naturalist. He is best known for his work on the BBC television series Life on Earth. He has also written and presented several other documentaries, including The Blue Planet and The Living Planet. </p>
            <p class="btn"><a href="./about.html">Learn more.</a></p>
        </div>
        <div>
            <img src="assets/DavidAttemborough.png" alt="portrait of david attemborough">
        </div>
    </div>
    <!-- <div class="doculist">
        <img src="assets/docu_planet_earth.png" alt="documentation planet earth" class="doculist-img">
        <h5>Titel of Documentation</h5>
        <p>Description </p>
    </div> -->
</body>
</html>